.app-header {
    background-color: #ebd2bf;
    height: 10vh;
    
    padding: 20px 20px;

    nav{
       a{ &.active{
        padding: 20px 2px;
            border-bottom: 2px solid black;
            background-color: rgba(160, 160, 160, 0.596);
            transition: all 0.2s;
        }}
    }
}