.app-header {
  background-color: #e0a041;
  height: 10vh;
  width: 100vw;
  padding: 20px 20px;
  @media (max-width: 600px) {
    position: fixed;
    z-index: 30;
  }

  nav {
    @media (max-width: 600px) {
      display: none;
    }
    span {
      color: rgba(148, 148, 148, 0.747);
    }
    a {
      font-weight: bold;
      padding: 5px;
      color: rgba(66, 64, 61, 0.822);
      &.active {
        // padding: 20px 2px;
        // border-bottom: 2px solid black;
        font-weight: bold;
        color: rgba(255, 115, 0, 0.877);
        transition: all 0.2s;
      }
    }
  }
  .mobile-btn {
    background-color: unset;
    border: none;
    font-weight: bold;
    font-size: 20px;
    @media (min-width: 600px) {
      display: none;
    }
  }
}
