.contact-edit{
    z-index: 10;
    top: 0;
    background-color: rgba(194, 189, 189, 0.562);
    height: 100vh;
    width: 100vw;
    position: fixed;
    a{
        width: fit-content;
        align-self: flex-end;
    }
    .form-container{
        background-color:  rgba(235, 169, 70, 0.938);
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        input{
            padding: 5px;
            background-color: rgba(255, 228, 196, 0.87);
            border: 1px solid rgb(182, 180, 180);
            border-radius: 3px;
        }
        .simple-button{
            width: fit-content;
        }
    }

}