<section class="contact-edit">
  <div *ngIf="contact" class="form-container simple-form">
    <!-- <a routerLink="/contact"><button class="simple-button">X</button></a> -->
    <h2>{{ contact._id ? "Edit" : "Add" }} contact</h2>
    <form
      #form="ngForm"
      (ngSubmit)="onSaveContact(form)"
      class="flex column gap"
    >
      <label for="name">Name:</label>
      <input required ngModel="{{ contact.name }}" type="text" name="name" id="name" />
      <label for="email">Email:</label>
      <input
        ngModel="{{ contact.email }}"
        type="email"
        name="email"
        id="email"
      />
      <label for="phone">Phone:</label>
      <input ngModel="{{ contact.phone }}" type="tel" name="phone" id="phone" />
      <section class="actions flex space-between">
        <a routerLink="/contact"><button type="button" class="simple-button">Back</button></a>
        <button class="simple-button" [disabled]="form.invalid">Save</button>
      </section>
    </form>
  </div>
</section>
