.signup{
    margin: auto;
    width: 50vw;
    input{
        padding: 5px;
        background-color: rgba(255, 228, 196, 0.747);
        border: 1px solid rgb(182, 180, 180);
        border-radius: 3px;
    }
}