.contact-list {
  padding: 20px 20px;
  a {
    align-self: center;
    justify-self: center;
    
}
.add-contact-btn {
    box-shadow: 0px 0px 3px 2px rgba(120,120,120,0.75);
    background: none;
    border: none;
    padding: 0;
    width: fit-content;
    border-radius: 50%;
    align-self: center;
    font-size: 40px;
    color: rgb(27, 99, 180);

    &:hover {
      color: rgb(36, 126, 230);
    }
  }
}
